# All files are treated as text files with Unix-style line endings and UTF-8 encoding by default
* text eol=lf encoding=utf-8

# All .bat files are treated as text files with Windows-style line endings and UTF-8 encoding by default
*.bat text eol=crlf encoding=utf-8

# All .cmd files are treated as text files with Windows-style line endings and UTF-8 encoding by default
*.cmd text eol=crlf encoding=utf-8

# Run all .png files through Git LFS
*.png filter=lfs diff=lfs merge=lfs -text

# Run .jpeg files through Git LFS
*.jpeg filter=lfs diff=lfs merge=lfs -text

# Run .jpg files through Git LFS
*.jpg filter=lfs diff=lfs merge=lfs -text

# Run .bmp files through Git LFS
*.bmp filter=lfs diff=lfs merge=lfs -text

# Run .gif files through Git LFS
*.gif filter=lfs diff=lfs merge=lfs -text

# Run all .jar files through Git LFS
*.jar filter=lfs diff=lfs merge=lfs -text
